*{	
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
html,body,#container{
	width: 100%;
	height: 100%;
}

/*下边border类*/
.border_bottom{
	border-bottom: 5px solid #CFDB00;
	padding-bottom: 15px;
}
/*下边border类*/

/*清除浮动类*/
.clear{
	overflow: hidden;
}

/*清除浮动类*/

#top{
	display: none;
	cursor: pointer;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 9999999;
}

/*头部*/
#container .header{
	width: 100%;
	position: relative;
}
#container .header .navpart{
	width: 75%;
	margin: 0 auto;
}
#container .header .logo{
	width: 18%;	
}
#container .header #nav{
	margin-top: 30px;
	float: right;
}
#container .header #nav li{
	float: left;	
	margin-left: 40px;
	cursor: pointer;
}
#container .header #nav li a{
	font-size: 16px;
	color: #000;
}
#container .header #navLogo{
	position: absolute;
	right: 0;
	top: 25px;
	cursor: pointer;
	display: none;
}
#container .header #navLogo #subnav{
	position: absolute;
	right: 10px;
	top: 50px;
	width: 120px;
	display: none;
	background-color: #CFDB00;
	text-align: center;
}
#container .header #navLogo #subnav li{
	margin-top: 8px;
}
#container .header #navLogo #subnav li a{
	color: #fff;
	font-size: 14px;	
}
/*头部*/

/*跳转*/
#container #jump{
	position: fixed;
	left: 0;
	top: 40%;
	z-index: 999;
}
#container #jump li{
	position: relative;
	margin-top: 2px;
	background-color: #ccc;
	cursor: pointer;
}
#container #jump li .jump_div{
	position: absolute;
	left:65px;
	top: -50px;	
	background-color: #fff;
	border-radius: 6px;
	display: none;
}
#container #jump li .jump_div .li_cont{
	width: 280px;
	height: 60px;
}
#container #jump li .jump_div span{
	font-size: 20px;
	line-height: 60px;
	margin-left: 10px;
}
#container #jump li .jump_div .close{
	float: right;
	margin-right: 10px;
	cursor: pointer;
}
#container #jump li .jump_div .form{
	text-align: center;
}
#container #jump li .jump_div .form input{
	width: 230px;
	height: 20px;
	margin-top: 15px;
	background-color: #ccc;
	border: none;
	border: 1px solid #ccc;	
	border-radius: 2px;
}
#container #jump li .jump_div .form textarea{
	width: 230px;
	height: 80px;
	margin-top: 15px;
	background-color: #ccc;
}
#container #jump li .jump_div .form .submit{
	width: 140px;
	height: 35px;
	background-color: #434343;
	color: #fff;
	margin-bottom: 10px;
	border-radius: 3px;
	cursor: pointer;
}
#container #jump li .jump_div .check{
	text-align: center;
}
#container #jump li .jump_div .check img{
	width: 200px;
	height: 200px;
	margin: 18px 0px;
	cursor: pointer;
} 
/*跳转*/
/*mediaBanner*/
.mediaBanner{
	width: 75%;
	margin: 20px auto;
}
.mediaBanner img{
	width: 100%;
}
.mediaBanner video{
	display: none;
	width: 100%;
}
/*mediaBanner*/

/*.select_item*/
.select_item{
	width: 75%;
	margin:0 auto;
}
.select_item li{
	float: left;
	margin-right: 4.65552699%;	
}
.select_item li a{
	color: #898989;
	font-size: 16px;
	line-height: 80px;
}
.select_item li a:hover{
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
	color: #000;
}
/*.select_item*/

/*media_pic*/
.media_pic{
	width: 75%;
	margin: 0 auto;
}
.media_pic ul li{
	float: left;
	width: 33%;
	margin-bottom: 5px;
	margin-right: 0.3%;
	overflow: hidden;
}
.media_pic ul li img{
	width: 100%;
}
.media_pic ul li:hover img{
	transition: 1s;
	transform: scale(1.3);
}
@media screen and (max-width: 640px){
	.media_pic ul li{
		min-width: 200px;
	}
}
/*media_pic*/

/*========footer======*/
#footer{
	width: 100%;
	background-color: #838483;
}
#footer .footerWrap{
	padding-top: 30px;
	padding-bottom: 30px;
	width: 75%;
	margin: 0 auto;
}
#footer .footerWrap ul{
	float: left;
	width: 15.42%;
	min-width: 100px;
}
#footer .footerWrap ul li a{
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}
#footer .footerWrap ul li .footerLi{
	font-size: 16px;
	line-height: 50px;
}
@media screen and (max-width: 480px){
	#footer .footerWrap ul .footerLi{
		border-bottom: 1px solid #fff;
	}
	#footer .footerWrap ul{
		margin-bottom: 20px;
	}
}
#footer .footerWrap .footerRight{
	float: right;
}
#footer .footerWrap .footerRight p{
	font-size: 26px;
	color: #fff;
	line-height: 37px;
} 
#footer .footerWrap .footerRight span{
	font-size: 12px;
	color: #bfc0bf;
	line-height: 23px;
}
#footer .footerBottom{
	background-color: #424242;
}
#footer .footerBottom .footerCent{
	width: 75%;
	margin: 0 auto;
	text-align: center;
}
#footer .footerBottom .footerCent span{
	font-size: 12px;
	line-height: 70px;
	color: #fff;
}
#footer .footerBottom .footerCent a{
	color: #fff;
	font-size: 12px;
	line-height: 70px;	
}
#footer .footerBottom .footerCent div{
	float: right;
}
/*========footer======*/